##############################
## Java
##############################
*.class

##############################
## Maven
##############################
**/target/

##############################
## IDE
##############################
*.idea

##############################
## personal
##############################
.todo/
**/.gitconfig
