##############################
## Java
##############################
*.class

##############################
## Maven
##############################
target/
out/

##############################
## IDE
##############################
*.idea
*.iml

##############################
## reports
##############################
.allure/
allure-results/
*.log
