##############################
## Java
##############################
*.class

##############################
## Maven
##############################
**/target/

##############################
## IDE
##############################
*.idea
