<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Expression Tests" verbose="1">

    <test name="NumValue Tests">
        <groups>
            <run>
                <include name="numValue" />
            </run>
        </groups>
        <classes>
            <class name="CalcLexer.ExpressionTest" />
        </classes>
    </test>

    <test name="BinOp Tests">
        <groups>
            <run>
                <include name="binOp" />
            </run>
        </groups>
        <classes>
            <class name="CalcLexer.ExpressionTest" />
        </classes>
    </test>

    <test name="Simple Parser Tests">
        <groups>
            <run>
                <include name="simpleParser" />
            </run>
        </groups>
        <classes>
            <class name="CalcLexer.BinOpParserTest" />
        </classes>
    </test>

</suite>